html,
body {
  height: 100%;
  margin: 0;
  background-color: pink;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.image {
  display: flex;
  justify-content: center;
  margin: auto auto;
  width: 70%;
  height: 30%;
}

.eachCardHeader {
  background-color: rgb(238, 238, 195);
}

.eachCard {
  background-color: rgb(149, 216, 176);
}

.introduction {
  text-align: center;
  background-color: rgb(149, 216, 176);
  color: black;
  font: 500px;
  margin-top: 20px;
  padding: 20px;
  border: 1px;
  border-radius: 15%;
}

.social-media-links {
  display: flex;
  gap: 15px;
  font-size: 18px;
  flex-direction: row;
  justify-content: center;
}

.social-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #0073b1;
}

.social-link.instagram:hover {
  color: #e1306c;
}
